@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jobCard{
  max-width: 100%;
  display:inline-block;
}

@media screen and (min-width: 768px) and (max-width: 950px) {

  .jobCard{
    max-width: 99%;
    max-height: 320px;
    position: relative;
    display:inline-block;
    min-width: 100%;
    
  }

}

@media screen and (max-width: 769px) {

  .bd-placeholder-img {
    display:none;
  }

  .card-body{
    text-align: left;
    font-size: 14px;
    max-width: 100%;
    display: inline-block;
    position: relative;
    margin-left: -75px;
  }

  .jobCard{
    max-width: 99%;
    position: relative;
    display: flex;
  }

}

@media screen and (min-width: 480px) and (max-width: 600px) {

  .card-title{
    font-size: 16px;
  }

  .jobCard{
    position: relative;
    display: flex;
  }

}

@media screen and (max-width: 480px) {

  .card-body{
    text-align: left;
    margin-left: -75px;
    font-size: 12px;
    max-width: 99%;
    display: inline-block;
    position: relative;
  }

  .jobCard{
    position: absolute;
    display: flex;
  }

  .card-title{
    font-size: 14px;
  }

}